@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'settings';
@import "node_modules/mdi/scss/materialdesignicons";
@import "node_modules/foundation-sites/scss/foundation";
@import "node_modules/pnotify/dist/PNotifyBrightTheme";
@include foundation-everything($prototype: true);

.font12 {font-size: rem-calc(12)}
.font14 {font-size: rem-calc(14)}
.font15 {font-size: rem-calc(15)}
.font16 {font-size: rem-calc(16)}
.font18 {font-size: rem-calc(18)}
.font19 {font-size: rem-calc(19)}
.font20 {font-size: rem-calc(20)}
.font22 {font-size: rem-calc(22)}
.font25 {font-size: rem-calc(25)}
.font31 {font-size: rem-calc(31)}
.font34 {font-size: rem-calc(34)}
.font35 {font-size: rem-calc(35)}
.font36 {font-size: rem-calc(36)}
.font40 {font-size: rem-calc(40)}
.font79 {font-size: rem-calc(79)}

.font-green {color: $green}
.font-white {color: $white}
.font-light-gray {color: $light-gray}
.font-medium-gray {color: $medium-gray}
.font-dark-gray {color: $light-gray}
.font-dark-white {color: $dark-white}
.font-dark-blue {color: $dark-blue}
.font-black {color: $black}

.errors {color: red}

.vh100 {min-height: 100vh}

.background-dark {background: #1c2a33; }
.background-medium {background: #f2f2f2; }

input[type="text"], input[type="tel"], input[type="email"] {
	background: #373f43;
	border:none;
	color:#90aebd;
}
::-webkit-input-placeholder {color:#90aebd}
::-moz-placeholder {color:#90aebd}
:-ms-input-placeholder {color:#90aebd}
:-moz-placeholder {color:#90aebd}

.header {
	&__top {
		background: $medium-gray;
		padding-top: .5rem;
    	padding-bottom: .5rem;
	}
	&__bottom {
		background: $light-gray;
	}
}
.main-background {
	background: $medium-gray url('/images/background.jpg') no-repeat 50% 50%;
	background-size: cover;
	&:before {
		content: "";
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    background: rgba(0,0,0,.5);
	    z-index: 1;
	}
	&__wrapper {
		z-index: 2;
	}
}
.footer {
	background: $dark-blue;
}
.products {
	&__item {
		&__wrapperimage {
			height: 300px;
			max-height: 300px;
			border: 1px solid #ececec;
			overflow: hidden;
		}
		&__title {
			height: 26px;
		}
		&__description {
			height: 90px;
			overflow: hidden;
			position: relative;
			z-index: 2;
		}
		&__price {

		}
		&__old-price {
			text-decoration: line-through;
		}
		&:hover {
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			.products__item__description {
				overflow: visible !important;
				background: $white;
				&__wrapper {
					background: $white;
				}
			}
			.products__item__description__wrapper_show {
				display: none;
			}
			.products__item__description__wrapper_hide {
				display: block;
			}
		}
	}
}